
$theme: '.ace';
$theme: '.ace.sc-small-size';


#{$theme}.sc-segment-view {

  height: 18px;
  
  .left {
    width: 8px;
    height: 18px;
    @extend .__s69_235;
-chance-offset: "resources/segmented/18px/segmented_normal_100_0_8__0_" 0 0;background-repeat: no-repeat;
  }
  
  .right {
    width: 8px;
    height: 18px;
    @extend .__s69_236;
-chance-offset: "resources/segmented/18px/segmented_normal_92_0_8__0_" 0 0;background-repeat: no-repeat;
  }
  
  .middle {
    left: 8px; right: 8px;
    height: 18px;
    @extend .__s69_237;
-chance-offset: "resources/segmented/18px/segmented_normal_8_0_1__0_" 0 0;background-repeat: repeat-x;
  }
  
  .sc-button-label {
    padding: 0px;
    font-size: 11px;
    top: -2px;
    margin-left: 9px;
    margin-right: 10px;
  }
  
  &.sc-first-segment .left {
    @extend .__s69_238;
-chance-offset: "resources/segmented/18px/segmented_normal_0_0_8__0_" 0 0;background-repeat: no-repeat;
  }
    
  &.sc-last-segment .right {
    @extend .__s69_239;
-chance-offset: "resources/segmented/18px/segmented_normal__0_8__0_0" 0 0;background-repeat: no-repeat;  
  }
  
  
  
  &.active {
    .left { @extend .__s69_240;
-chance-offset: "resources/segmented/18px/segmented_active_100_0_8__0_" 0 0;background-repeat: no-repeat; }
    .right { @extend .__s69_241;
-chance-offset: "resources/segmented/18px/segmented_active_92_0_8__0_" 0 0;background-repeat: no-repeat; }
    .middle { @extend .__s69_242;
-chance-offset: "resources/segmented/18px/segmented_active_8_0_1__0_" 0 0;background-repeat: repeat-x; }
  }
  
  &.active.sc-first-segment {
    .left { @extend .__s69_243;
-chance-offset: "resources/segmented/18px/segmented_active_0_0_8__0_" 0 0;background-repeat: no-repeat; }
  }
  
  &.active.sc-last-segment {
    .right { @extend .__s69_244;
-chance-offset: "resources/segmented/18px/segmented_active__0_8__0_0" 0 0;background-repeat: no-repeat; }
  }
  
  
  
  &.sel {
    .left { @extend .__s69_245;
-chance-offset: "resources/segmented/18px/segmented_selected_100_0_8__0_" 0 0;background-repeat: no-repeat; }
    .right { @extend .__s69_246;
-chance-offset: "resources/segmented/18px/segmented_selected_92_0_8__0_" 0 0;background-repeat: no-repeat; }
    .middle { @extend .__s69_247;
-chance-offset: "resources/segmented/18px/segmented_selected_8_0_1__0_" 0 0;background-repeat: repeat-x; }
  }

  &.sel.sc-first-segment {
    .left { @extend .__s69_248;
-chance-offset: "resources/segmented/18px/segmented_selected_0_0_8__0_" 0 0;background-repeat: no-repeat; }
  }

  &.sel.sc-last-segment {
    .right { @extend .__s69_249;
-chance-offset: "resources/segmented/18px/segmented_selected__0_8__0_0" 0 0;background-repeat: no-repeat; }
  }
  
  
  
  &.sel.active {
    .left { @extend .__s69_250;
-chance-offset: "resources/segmented/18px/segmented_selected_active_100_0_8__0_" 0 0;background-repeat: no-repeat; }
    .right { @extend .__s69_251;
-chance-offset: "resources/segmented/18px/segmented_selected_active_92_0_8__0_" 0 0;background-repeat: no-repeat; }
    .middle { @extend .__s69_252;
-chance-offset: "resources/segmented/18px/segmented_selected_active_8_0_1__0_" 0 0;background-repeat: repeat-x; }
  }

  &.sel.active.sc-first-segment {
    .left { @extend .__s69_253;
-chance-offset: "resources/segmented/18px/segmented_selected_active_0_0_8__0_" 0 0;background-repeat: no-repeat; }
  }

  &.sel.active.sc-last-segment {
    .right { @extend .__s69_254;
-chance-offset: "resources/segmented/18px/segmented_selected_active__0_8__0_0" 0 0;background-repeat: no-repeat; }
  }

}

$theme: '.ace';

