@import "compass";

@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";

@import "blueprint/typography";

@import "compass/layout/stretching";


body {
  font-family:Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.4;
};

div {
  outline-width: 0px !important;
};

@import "views/procedure";
@import "views/toolbar";
