
$theme: '';
.sc-theme .sc-menu-scroller-view.sc-vertical .arrowDown{
  border: none;
  width: 14px;
  height: 14px;
  text-align: center;
  background: url('/static/sproutcore/legacy_theme/en/448189137e74fe0a5cc3d310834aa8fc4b257f02/source/images/sc-theme-repeat-x.png') no-repeat 0px -1598px;
  display: inline-block;
  vertical-align:bottom;
}

.sc-theme .sc-menu-scroller-view.sc-vertical .arrowUp{
  border: none;  
  width: 14px;
  height: 14px;
  text-align: center;
  background: url('/static/sproutcore/legacy_theme/en/448189137e74fe0a5cc3d310834aa8fc4b257f02/source/images/sc-theme-repeat-x.png') no-repeat 0px -1585px;
  display: inline-block;
  vertical-align:bottom;
}
