
$theme: '';/* @group SC.SplitView */

.sc-theme .sc-horizontal .sc-split-divider-view {
	background: url('/static/sproutcore/legacy_theme/en/448189137e74fe0a5cc3d310834aa8fc4b257f02/source/images/sc-theme-ysprite.png') repeat-y 0px top;
}

.sc-theme .sc-vertical .sc-split-divider-view {
	background: url('/static/sproutcore/legacy_theme/en/448189137e74fe0a5cc3d310834aa8fc4b257f02/source/images/sc-theme-repeat-x.png') repeat-x 0px -1397px;
}


