
$theme: '';.sc-toolbar-view {
  background: url('/static/sproutcore/legacy_theme/en/448189137e74fe0a5cc3d310834aa8fc4b257f02/source/images/sc-theme-repeat-x.png') repeat-x 0px -650px; 
  border: none;
  border-top: 1px solid #4d5567; /* #818ea4; */
  -webkit-box-shadow: 0px -1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px -1px 2px rgba(0,0,0,0.3);
}
