
$theme: '';.sc-theme .sc-well-view .top-right-edge {
  background: url('/static/sproutcore/legacy_theme/en/448189137e74fe0a5cc3d310834aa8fc4b257f02/source/images/sc-theme-repeat-x.png') no-repeat right -1646px;
}

.sc-theme .sc-well-view .top-left-edge {
  background: url('/static/sproutcore/legacy_theme/en/448189137e74fe0a5cc3d310834aa8fc4b257f02/source/images/sc-theme-repeat-x.png') no-repeat left -1646px;
}

.sc-theme .sc-well-view .bottom-left-edge {
  background: url('/static/sproutcore/legacy_theme/en/448189137e74fe0a5cc3d310834aa8fc4b257f02/source/images/sc-theme-repeat-x.png') no-repeat left -1657px;  
}

.sc-theme .sc-well-view .bottom-right-edge {
  background: url('/static/sproutcore/legacy_theme/en/448189137e74fe0a5cc3d310834aa8fc4b257f02/source/images/sc-theme-repeat-x.png') no-repeat right -1657px;
}

.sc-theme .sc-well-view .top-edge {
  background: url('/static/sproutcore/legacy_theme/en/448189137e74fe0a5cc3d310834aa8fc4b257f02/source/images/sc-theme-repeat-x.png') repeat-x right -1668px;  
}

.sc-theme .sc-well-view .bottom-edge {
  background: url('/static/sproutcore/legacy_theme/en/448189137e74fe0a5cc3d310834aa8fc4b257f02/source/images/sc-theme-repeat-x.png') repeat-x right -1680px;
}

.sc-theme .sc-well-view .left-edge {
  background: url('/static/sproutcore/legacy_theme/en/448189137e74fe0a5cc3d310834aa8fc4b257f02/source/images/sc-theme-ysprite.png') repeat-y -16px top;  
}

.sc-theme .sc-well-view .right-edge {
  background: url('/static/sproutcore/legacy_theme/en/448189137e74fe0a5cc3d310834aa8fc4b257f02/source/images/sc-theme-ysprite.png') repeat-y -28px top;
}

.sc-theme .sc-well-view .content-background {
  background: #57647f;  
  opacity:0.4;
}