<p>CIRCSIM is a computer model with a heart in a chest, systemic arteries and arterioles, a capillary bed, and veins returning blood to the heart.  CIRCSIM is thus a complete circulatory system, and it functions like one. </p>

<p>CIRCSIM can simulate normal physiology.  The simulation includes baroreceptors similar in operation to those which are situated at the bifurcation of the common carotid artery and at the aortic arch.  These act to stabilize blood pressure.</p>

<p>However, the model has been simplified, and the heart is treated as a single chamber filling from the right atrium and pumping blood into the aorta.  The pulmonary circulation is not (as in life) in series with the systemic circulation.</p>

<h4>Select a procedure from the left to begin.</h4>