<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  
  <link rel="stylesheet" href="../../themes/corephysio/resources/print.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="../../themes/corephysio/resources/screen.css" type="text/css" media="screen" title="no title" charset="utf-8">  
  <!--[if IE]>
    <link rel="stylesheet" href="../../themes/corephysio/resources/ie.css" type="text/css" media="screen" title="no title" charset="utf-8">    
  <![endif]-->
  
</head>

<body>

  <div id="procedure">
    <h1 id="procedure-title">Decrease Ra</h1>
    <div id="procedure-instructions">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ultricies molestie bibendum. Ut tincidunt scelerisque ligula vel faucibus. Pellentesque vitae felis ac elit dictum rhoncus. Praesent lacus mauris, laoreet non interdum quis, vestibulum ac tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur ac ipsum enim, sed placerat metus. In eu sapien elit, ac imperdiet dui. Proin tempus dui et massa molestie venenatis luctus quam blandit. In urna nunc, consectetur blandit venenatis sit amet, dignissim varius turpis. Quisque ligula justo, dictum quis convallis ac, interdum eget lectus</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ultricies molestie bibendum. Ut tincidunt scelerisque ligula vel faucibus. Pellentesque vitae felis ac elit dictum rhoncus. Praesent lacus mauris, laoreet non interdum quis, vestibulum ac tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur ac ipsum enim, sed placerat metus. In eu sapien elit, ac imperdiet dui. Proin tempus dui et massa molestie venenatis luctus quam blandit. In urna nunc, consectetur blandit venenatis sit amet, dignissim varius turpis. Quisque ligula justo, dictum quis convallis ac, interdum eget lectus</p>    
    </div>
    <div id="procedure-interaction">
      <div id="procedure-messages">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ultricies molestie bibendum. Ut tincidunt scelerisque ligula vel faucibus. Pellentesque vitae felis ac elit dictum rhoncus. Praesent lacus mauris, laoreet non interdum quis, vestibulum ac tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur ac ipsum enim, sed placerat metus. In eu sapien elit, ac imperdiet dui. Proin tempus dui et massa molestie venenatis luctus quam blandit. In urna nunc, consectetur blandit venenatis sit amet, dignissim varius turpis. Quisque ligula justo, dictum quis convallis ac, interdum eget lectus</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ultricies molestie bibendum. Ut tincidunt scelerisque ligula vel faucibus. Pellentesque vitae felis ac elit dictum rhoncus. Praesent lacus mauris, laoreet non interdum quis, vestibulum ac tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur ac ipsum enim, sed placerat metus. In eu sapien elit, ac imperdiet dui. Proin tempus dui et massa molestie venenatis luctus quam blandit. In urna nunc, consectetur blandit venenatis sit amet, dignissim varius turpis. Quisque ligula justo, dictum quis convallis ac, interdum eget lectus</p>        
      </div>    
      <div id="grid">
        <div class="column">
          <div class="header">
            Header
          </div>
          <div class="cell">
            Cell
          </div>
          <div class="cell">
            Cell
          </div>
          <div class="cell">
            Cell
          </div>
        </div>
        <div class="column">
          <div class="header">
            Header
          </div>
          <div class="cell">
            Cell
          </div>
          <div class="cell">
            Cell
          </div>
          <div class="cell">
            Cell
          </div>
        </div>
        <div class="column">
          <div class="header">
            Header
          </div>
          <div class="cell">
            Cell
          </div>
          <div class="cell">
            Cell
          </div>
          <div class="cell">
            Cell
          </div>
        </div>
        <div class="column">
          <div class="header">
            Header
          </div>
          <div class="cell">
            Cell
          </div>
          <div class="cell">
            Cell
          </div>
          <div class="cell">
            Cell
          </div>
        </div>
      </div>
    </div>
  </div>
  

</body>