<h1>Circsim</h1>
<h2>A SIMULATION OF THE HEART AND PERIPHERAL CIRCULATION</h2>

      <p>© 1985  Rush University, Chicago, Illinois</p>
           <p>All Rights Reserved (Model Excluded)</p>

<p>Instruction: Dr. A. A. Rovick, Dept. of Physiology</p>
<p>Additional instruction: Drs. L. Brenner (Office of Computer-Based Education) and J. A. Michael (Dept. of Physiology), Rush Univ.</p>

<p>Model by: Dr. C. J. Dickinson, University Hospital Medical School, England and Drs. K. Ahmed, C. H. Goldsmith, and D. L. Sackett, McMaster University Medical School, Canada</p>

<p>IBM PC Program by: Dr. Joel Michael</p>
<p>2011 Update: Ryan Golden</p>
