<div id="top-toolbar">
  <div id="logo-image"></div>
  <div id="circsim-title">
    Circsim
  </div>
  <div id="help-button" {{bindAttr style="helpDisplay"}}>
    <div class="img"><img {{bindAttr src="iconUrl"}} width="16" height="16" alt="Help"></div>
    <div class="left"></div>
    <div class="middle"></div>
    <div class="right"></div>
    <label>Help</label> 
  </div>
</div>
