<div id="top-toolbar">
  <div id="logo-image"></div>
  <div id="circsim-title">
    Circsim
  </div>
  <div id="help-button">
    <div class="img"><img src="{{sc_static('images/help')}}" width="16" height="16" alt="Help"></div>
    <div class="left"></div>
    <div class="middle"></div>
    <div class="right"></div>
    <label>Help</label> 
  </div>
</div>
