
$theme: '.ace';
$theme: '.ace.sc-large-size';


#{$theme}.sc-segment-view {

  height: 30px;
  
  .left {
    width: 8px;
    height: 30px;
    @extend .__s71_275;
-chance-offset: "resources/segmented/30px/segmented_normal_100_0_8__0_" 0 0;background-repeat: no-repeat;
  }
  
  .right {
    width: 8px;
    height: 30px;
    @extend .__s71_276;
-chance-offset: "resources/segmented/30px/segmented_normal_92_0_8__0_" 0 0;background-repeat: no-repeat;
  }
  
  .middle {
    left: 8px; right: 8px;
    height: 30px;
    @extend .__s71_277;
-chance-offset: "resources/segmented/30px/segmented_normal_8_0_1__0_" 0 0;background-repeat: repeat-x;
  }
  
  .sc-button-label {
    padding: 0px;
    font-size: 13px;
    top: 4px;
    margin-left: 9px;
    margin-right: 10px;
  }
  
  &.sc-first-segment .left {
    @extend .__s71_278;
-chance-offset: "resources/segmented/30px/segmented_normal_0_0_8__0_" 0 0;background-repeat: no-repeat;
  }
    
  &.sc-last-segment .right {
    @extend .__s71_279;
-chance-offset: "resources/segmented/30px/segmented_normal__0_8__0_0" 0 0;background-repeat: no-repeat;  
  }
  
  
  
  &.active {
    .left { @extend .__s71_280;
-chance-offset: "resources/segmented/30px/segmented_active_100_0_8__0_" 0 0;background-repeat: no-repeat; }
    .right { @extend .__s71_281;
-chance-offset: "resources/segmented/30px/segmented_active_92_0_8__0_" 0 0;background-repeat: no-repeat; }
    .middle { @extend .__s71_282;
-chance-offset: "resources/segmented/30px/segmented_active_8_0_1__0_" 0 0;background-repeat: repeat-x; }
  }
  
  &.active.sc-first-segment {
    .left { @extend .__s71_283;
-chance-offset: "resources/segmented/30px/segmented_active_0_0_8__0_" 0 0;background-repeat: no-repeat; }
  }
  
  &.active.sc-last-segment {
    .right { @extend .__s71_284;
-chance-offset: "resources/segmented/30px/segmented_active__0_8__0_0" 0 0;background-repeat: no-repeat; }
  }
  
  
  
  &.sel {
    .left { @extend .__s71_285;
-chance-offset: "resources/segmented/30px/segmented_selected_100_0_8__0_" 0 0;background-repeat: no-repeat; }
    .right { @extend .__s71_286;
-chance-offset: "resources/segmented/30px/segmented_selected_92_0_8__0_" 0 0;background-repeat: no-repeat; }
    .middle { @extend .__s71_287;
-chance-offset: "resources/segmented/30px/segmented_selected_8_0_1__0_" 0 0;background-repeat: repeat-x; }
  }

  &.sel.sc-first-segment {
    .left { @extend .__s71_288;
-chance-offset: "resources/segmented/30px/segmented_selected_0_0_8__0_" 0 0;background-repeat: no-repeat; }
  }

  &.sel.sc-last-segment {
    .right { @extend .__s71_289;
-chance-offset: "resources/segmented/30px/segmented_selected__0_8__0_0" 0 0;background-repeat: no-repeat; }
  }
  
  
  
  &.sel.active {
    .left { @extend .__s71_290;
-chance-offset: "resources/segmented/30px/segmented_selected_active_100_0_8__0_" 0 0;background-repeat: no-repeat; }
    .right { @extend .__s71_291;
-chance-offset: "resources/segmented/30px/segmented_selected_active_92_0_8__0_" 0 0;background-repeat: no-repeat; }
    .middle { @extend .__s71_292;
-chance-offset: "resources/segmented/30px/segmented_selected_active_8_0_1__0_" 0 0;background-repeat: repeat-x; }
  }

  &.sel.active.sc-first-segment {
    .left { @extend .__s71_293;
-chance-offset: "resources/segmented/30px/segmented_selected_active_0_0_8__0_" 0 0;background-repeat: no-repeat; }
  }

  &.sel.active.sc-last-segment {
    .right { @extend .__s71_294;
-chance-offset: "resources/segmented/30px/segmented_selected_active__0_8__0_0" 0 0;background-repeat: no-repeat; }
  }

}

$theme: '.ace';

