
$theme: '';body {
  background: url('/static/sproutcore/iphone_theme/en/a60ffb9fca51baaf2d35e29d9534f53069840fcd/source/images/pinstripes.png') repeat;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}