body {
  font-family:Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.4;
};

div {
  outline-width: 0px !important;
};

.focus {
  outline-width: 0px !important;
}

#procedure-selection {
  border-right: 1px solid #DCDCDC;
}

.sc-list-item-view.sel{
  background-color: steelblue;
}
