@mixin sc-button ($align: center) {
  border: 0px none;
  color: #555;
  @include single-text-shadow(white,0px, 1px, 1px);
  @include border-radius(3px);
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;  
  &:disabled {
    opacity: .5;
  }
  .img {
    position: absolute;
    left: 6px;
    top: 3px;
    z-index: 2;
  }
  &:sel, 
  &:def{
      color: #fff;
      font-weight: 200;
      @include single-text-shadow(rgba(0, 0, 0, 0.5),0px, -1px, 1px);
  };
  &:active{
    color: #333;
    @include single-text-shadow(white,0px, 1px, 1px);
    .left {
      background-position: 0px 0px;
      background-repeat: no-repeat;
      position: absolute;
      left: 0px;
      top: 0px;
      bottom: 0px;
      width: 3px;
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAYCAQAAACVMI9sAAAAd0lEQVR4nGOyYfCUjljBJKKufFk/nEmpW0NQm4FJwkWOQZaBiY+Tn4GTgYmDgZWBCQgZ/gMhkAIxmEDsfwxM/xhAkOk/jAIrQRX8h5DDouEfSAPjz38MfxmYuB/8ZPjNwGS06MuPrwxMBnO9Zvy5xeTyUqIhqBUAMGc432X/lp0AAAAASUVORK5CYII=");
    *background-image: expression('url("mhtml:' + document.location.protocol + '//' + document.location.host + '/static/sproutcore/ace/en/current/__sc_chance_mhtml.txt?1311210814!__s41_15' + '")');    
      };
    .middle {
      background-position: 0px 0px;
      background-repeat: repeat-x;
      position: absolute;
      left: 3px;
      top: 0px;
      right: 3px;
      bottom: 0px;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAYCAQAAACRxV9RAAAAK0lEQVR4nGNKecJkJs2kycAkzsDExMD0n4HpH4z8h8HGFPzFwPThK1NoNwCtVhWvCA2FFgAAAABJRU5ErkJggg==");
      *background-image: expression('url("mhtml:' + document.location.protocol + '//' + document.location.host + '/static/sproutcore/ace/en/current/__sc_chance_mhtml.txt?1311210814!__s41_16' + '")');
    }
    .right {
      background-position: 0px 0px;
      background-repeat: no-repeat;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      width: 3px;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAYCAQAAACVMI9sAAAAc0lEQVR4nGOKWOEp/Z+BST9c5XKgFpM2g7qgUjeTLIMcg7gzEyeDAAM/OxMTAwsDBwPTf4b/DIwgigHIYPrH8B9CgSCY+g9RgiEI52HVAKb+AimG30y/GX4y8Nxj+srw5YfRIqY/t7xmGMxlCmqVaGB4CQBP+DqbwhbMewAAAABJRU5ErkJggg==");
      *background-image: expression('url("mhtml:' + document.location.protocol + '//' + document.location.host + '/static/sproutcore/ace/en/current/__sc_chance_mhtml.txt?1311210814!__s41_17' + '")');
      
    }
  }
  .left{
    background-position: 0px 0px;
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 3px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAYCAQAAACVMI9sAAAAZElEQVR4nGPaxLBJeuMKJgb1f5flw5mYulUE5RmY/rlIMDAwMP3lZGT4z8DEAAYw6j/Df4jgPyCEUf9RKLgcWCV+QTCP5ec/ECXw4D2IUlv04scrBibpuU4z/t5i2viSv8GhFQCWUDZMrKdSJwAAAABJRU5ErkJggg==");
  };
  .middle{
    background-position: 0px 0px;
    background-repeat: repeat-x;
    position: absolute;
    left: 3px;
    top: 0px;
    right: 3px;
    bottom: 0px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAYCAQAAACRxV9RAAAAKklEQVR4nGPa8ITJUpqJjYGJgYHpP5iEMP6hov+ojP8w9IuB6d5XJv9uAIJ2FK/beYvTAAAAAElFTkSuQmCC");
    
  };
  .right{
    background-position: 0px 0px;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 3px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAYCAQAAACVMI9sAAAAZ0lEQVR4nGPauGKT9H8GJvnwf5c3azHJM6gKMnUzMTCIM/xzZvrPwMjwlx3IAwEY9Z8BBJn+MfwD8ZCo/ygUVCUDfkEo7z+Qx/wbSL1nELzH9IrhxQ+1RUx/bznNkJ7L5NDK38DwEgBOEjabenxcDAAAAABJRU5ErkJggg==");
    
  };
  label{
    height: 24px;
    padding-top: 2px;
    position: relative;
    display: block;
    line-height: 21px;
    text-align: $align;
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
  };  
};