#procedure-title {
  width:100%; 
  color:#4080B1;
  font-weight: bold;
  font-size: 30px;
  padding: 10px;
};

#next-button {
  padding: 5px;
}

#grid-headers {

  div {
    width: 74px;
    float: left;
    margin-left:50px;
    margin-top:20px;
  }
}

ul#grid-rows {
  text-align: right;
  li {
    height: 30px;
    display: block;
    padding: 10px 10px 10px 0px;
  }
}



.sc-view {
  .disabled {
    background-color: #FBFBFB;
    .cell-value {
      opacity: 0.6;
    }
  }

  .enabled {
    background-color: #fff;
  }

  .highlighted {
    background-color: yellow;
  }  
}

.sc-view .cell {  
  position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;
  border: 1px solid #999;
  .cell-value {
    position: absolute;
    top: 37%;
    left: 43%;
    display: block;
    height: 24px;
    width: 24px;
  }
  
}



#messages-title {
  font-weight: bold;
  font-size: 14px;
  color: #444;
}

#messages-body {
  padding:10px 20px;
}