#procedure-title {
  color:#FFF;
  float: left;
  display: block;
  padding: 8px 20px 12px;
  margin-left: -20px;
  color: white;
  font-size: 20px;
  font-weight: 200;
  line-height: 1;
};

#procedure-toolbar{
  background: #222;
  background-color: #222222;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#333333), to(#222222));
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  @include border-top-radius(4px);
}

#pv-label{
  color: #222;
}

#grid-headers {

  div {
    width: 15px;
    float: left;
    margin-left:121px;
    margin-top:20px;
    a {
      color: gray;
      &:hover{
        text-decoration: none;
      };
    }
  }
}

ul#grid-rows {
  text-align: right;
  width: 45px;
  li {
    height: 32px;
    display: block;
    padding: 0px 14px 10px 0px;
    margin-top: 10px;
    
    a{
      color: gray;
      &:hover{
        text-decoration: none;
      };

    }
  }
}

.sc-view {
  .disabled {
    background-color: #FBFBFB;
    .cell-value {
      opacity: 0.5;
    }
  }

  .enabled {
    background-color: #fff;
  }
  
  .correctomundo, .highlightRECorrect {
    background-color: #E8FFCA;
  }
  
  .wrongo, .highlightREIncorrect {
    background-color: #FFD6D6;
  }
  
  .correctHighlight {
    background-color: #C5FFA3;
  }  
  
  .incorrectHighlight {
    background-color: #FFBDBD;
  }
  
}

.sc-view .cell {  
  position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;
  border: 1px solid #999;
  .cell-value {
    position: absolute;
    top: 37%;
    left: 43%;
    display: block;
    height: 24px;
    width: 24px;
    text-align: center;
    font-weight: bold;
  }
  
  .cell-value-student {
    position: absolute;
    top: 37%;
    left: 20%;
    display: block;
    height: 24px;
    width: 24px;
    text-align: center;
    font-weight: bold;
    opacity: 0.6;    
  }
  
  .cell-value-correct {
    position: absolute;
    top: 37%;
    right: 20%;
    display: block;
    height: 24px;
    width: 24px;
    text-align: center;
    font-weight: bold;
    opacity: 1;        
  }
  
}

#messages-title {
  font-weight: bold;
  font-size: 14px;
  color: #444;
}

#messages-body {
  padding:10px 20px;
  overflow: auto;
}
