#title-information{
  text-align: center;
  margin-top: 10px;
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    color: #404040;
  }
  p {
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 9px;
  }
  h1 {
    margin-bottom: 18px;
    font-size: 30px;
    line-height: 36px;
  }
  h2 {
    font-size: 24px;
    line-height: 36px;
  }
  h3,
  h4,
  h5,
  h6 {
    line-height: 36px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }  
};

#start-circsim-button{
  @include sc-button;
}