/* line 17, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../src/partials/_base.scss */
body {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.4;
}

/* line 7, ../src/partials/_base.scss */
div {
  outline-width: 0px !important;
}

/* line 11, ../src/partials/_base.scss */
.focus {
  outline-width: 0px !important;
}

/* line 6, ../src/views/_procedure.scss */
.sc-view .cell {
  border: 1px solid #444;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
/* line 9, ../src/views/_procedure.scss */
.sc-view .cell:hover {
  background-color: steelblue;
}
/* line 12, ../src/views/_procedure.scss */
.sc-view .cell .cell-value {
  position: absolute;
  top: 40%;
  left: 45%;
}

/* line 19, ../src/views/_procedure.scss */
#procedure {
  font-family: Helvetica, sans-serif;
  padding: 10px;
  min-width: 800px;
}
/* line 33, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#procedure body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}
/* line 51, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#procedure h1, #procedure h2, #procedure h3, #procedure h4, #procedure h5, #procedure h6 {
  font-weight: normal;
  color: #222222;
}
/* line 52, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#procedure h1 img, #procedure h2 img, #procedure h3 img, #procedure h4 img, #procedure h5 img, #procedure h6 img {
  margin: 0;
}
/* line 53, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#procedure h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
/* line 54, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#procedure h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 55, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#procedure h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
/* line 56, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#procedure h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 57, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#procedure h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
/* line 58, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#procedure h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 59, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#procedure p {
  margin: 0 0 1.5em;
}
/* line 60, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#procedure p .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 61, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#procedure p .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 62, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#procedure a {
  text-decoration: underline;
  color: #0066cc;
}
/* line 18, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#procedure a:visited {
  color: #004c99;
}
/* line 21, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#procedure a:focus {
  color: #0099ff;
}
/* line 24, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#procedure a:hover {
  color: #0099ff;
}
/* line 27, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#procedure a:active {
  color: #bf00ff;
}
/* line 63, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#procedure blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
/* line 64, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#procedure strong, #procedure dfn {
  font-weight: bold;
}
/* line 65, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#procedure em, #procedure dfn {
  font-style: italic;
}
/* line 66, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#procedure sup, #procedure sub {
  line-height: 0;
}
/* line 67, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#procedure abbr, #procedure acronym {
  border-bottom: 1px dotted #666666;
}
/* line 68, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#procedure address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 69, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#procedure del {
  color: #666666;
}
/* line 70, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#procedure pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 71, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#procedure pre, #procedure code, #procedure tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
/* line 72, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#procedure li ul, #procedure li ol {
  margin: 0;
}
/* line 73, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#procedure ul, #procedure ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}
/* line 74, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#procedure ul {
  list-style-type: disc;
}
/* line 75, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#procedure ol {
  list-style-type: decimal;
}
/* line 76, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#procedure dl {
  margin: 0 0 1.5em 0;
}
/* line 77, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#procedure dl dt {
  font-weight: bold;
}
/* line 78, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#procedure dd {
  margin-left: 1.5em;
}
/* line 79, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#procedure table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 80, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#procedure th {
  font-weight: bold;
}
/* line 81, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#procedure thead th {
  background: #c3d9ff;
}
/* line 82, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#procedure th, #procedure td, #procedure caption {
  padding: 4px 10px 4px 5px;
}
/* line 85, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#procedure table.striped tr:nth-child(even) td,
#procedure table tr.even td {
  background: #e5ecf9;
}
/* line 86, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#procedure tfoot {
  font-style: italic;
}
/* line 87, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#procedure caption {
  background: #eeeeee;
}
/* line 88, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#procedure .quiet {
  color: #666666;
}
/* line 89, ../../../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
#procedure .loud {
  color: #111111;
}
/* line 25, ../src/views/_procedure.scss */
#procedure #procedure-title {
  width: 100%;
  color: #4080B1;
  font-weight: bold;
}
/* line 31, ../src/views/_procedure.scss */
#procedure #procedure-instructions {
  width: 100%;
  margin-bottom: 40px;
}
/* line 36, ../src/views/_procedure.scss */
#procedure #procedure-interaction {
  width: 100%;
  display: -moz-box;
  display: -webkit-box;
  display: -ms-box;
  display: box;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  -moz-box-align: stretch;
  -webkit-box-align: stretch;
  -ms-box-align: stretch;
  box-align: stretch;
  -moz-box-direction: normal;
  -webkit-box-direction: normal;
  -ms-box-direction: normal;
  box-direction: normal;
}
/* line 40, ../src/views/_procedure.scss */
#procedure #procedure-interaction #grid,
#procedure #procedure-interaction #procedure-messages {
  width: 50%;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
}
/* line 45, ../src/views/_procedure.scss */
#procedure #procedure-interaction #grid {
  background-color: #FBFBFB;
  margin-right: 10px;
  height: 300px;
  display: -moz-box;
  display: -webkit-box;
  display: -ms-box;
  display: box;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  -moz-box-align: stretch;
  -webkit-box-align: stretch;
  -ms-box-align: stretch;
  box-align: stretch;
  -moz-box-direction: normal;
  -webkit-box-direction: normal;
  -ms-box-direction: normal;
  box-direction: normal;
}
/* line 50, ../src/views/_procedure.scss */
#procedure #procedure-interaction #grid .column {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
}
/* line 53, ../src/views/_procedure.scss */
#procedure #procedure-interaction #grid .column .cell,
#procedure #procedure-interaction #grid .column .header {
  border: 1px solid #D2D2D2;
  background-color: #FBFBFB;
}
/* line 57, ../src/views/_procedure.scss */
#procedure #procedure-interaction #grid .column .header {
  height: 40px;
}
/* line 60, ../src/views/_procedure.scss */
#procedure #procedure-interaction #grid .column .cell-group {
  height: 260px;
  display: -moz-box;
  display: -webkit-box;
  display: -ms-box;
  display: box;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -moz-box-align: stretch;
  -webkit-box-align: stretch;
  -ms-box-align: stretch;
  box-align: stretch;
  -moz-box-direction: normal;
  -webkit-box-direction: normal;
  -ms-box-direction: normal;
  box-direction: normal;
}
/* line 64, ../src/views/_procedure.scss */
#procedure #procedure-interaction #grid .column .cell-group .cell {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
}
/* line 71, ../src/views/_procedure.scss */
#procedure #procedure-interaction #procedure-messages {
  height: 300px;
  padding: 10px 20px;
  background-color: #FBFBFB;
  border: 1px solid #D2D2D2;
  overflow-y: scroll;
}

/* line 1, ../src/views/_toolbar.scss */
#top-toolbar {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 36px;
  background-position: 0px 0px;
  background-repeat: repeat-x;
  color: #555;
  border-bottom: 1px solid #999;
  z-index: 10;
  text-shadow: white 0px 1px 1px;
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAsCAAAAACBTI29AAAAGklEQVR4nGN6x8TA9B+OUUlUFjoPXQ2CBGIAcuYgKD9pJ2MAAAAASUVORK5CYII=");
}
/* line 5, ../src/views/_toolbar.scss */
#top-toolbar #logo-image,
#top-toolbar #circsim-title,
#top-toolbar #help-button {
  position: absolute;
}
/* line 9, ../src/views/_toolbar.scss */
#top-toolbar #logo-image {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 0px;
  height: 0px;
}
/* line 17, ../src/views/_toolbar.scss */
#top-toolbar #circsim-title {
  margin-top: -12px;
  left: 10px;
  width: 330px;
  top: 50%;
  height: 24px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}
/* line 28, ../src/views/_toolbar.scss */
#top-toolbar #help-button {
  margin-top: -12px;
  right: 8px;
  width: 64px;
  top: 50%;
  height: 24px;
  border: 0px none;
  color: #555;
  text-shadow: white 0px 1px 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
}
/* line 9, ../src/partials/_button.scss */
#top-toolbar #help-button:disabled {
  opacity: .5;
}
/* line 12, ../src/partials/_button.scss */
#top-toolbar #help-button .img {
  position: absolute;
  left: 6px;
  top: 3px;
  z-index: 2;
}
/* line 19, ../src/partials/_button.scss */
#top-toolbar #help-button:sel, #top-toolbar #help-button:def {
  color: #fff;
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 1px;
}
/* line 24, ../src/partials/_button.scss */
#top-toolbar #help-button:active {
  color: #333;
  text-shadow: white 0px 1px 1px;
}
/* line 27, ../src/partials/_button.scss */
#top-toolbar #help-button:active .left {
  background-position: 0px 0px;
  background-repeat: no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 3px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAYCAQAAACVMI9sAAAAd0lEQVR4nGOyYfCUjljBJKKufFk/nEmpW0NQm4FJwkWOQZaBiY+Tn4GTgYmDgZWBCQgZ/gMhkAIxmEDsfwxM/xhAkOk/jAIrQRX8h5DDouEfSAPjz38MfxmYuB/8ZPjNwGS06MuPrwxMBnO9Zvy5xeTyUqIhqBUAMGc432X/lp0AAAAASUVORK5CYII=");
  *background-image: expression('url("mhtml:' + document.location.protocol + '//' + document.location.host + '/static/sproutcore/ace/en/current/__sc_chance_mhtml.txt?1311210814!__s41_15' + '")');
}
/* line 38, ../src/partials/_button.scss */
#top-toolbar #help-button:active .middle {
  background-position: 0px 0px;
  background-repeat: repeat-x;
  position: absolute;
  left: 3px;
  top: 0px;
  right: 3px;
  bottom: 0px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAYCAQAAACRxV9RAAAAK0lEQVR4nGNKecJkJs2kycAkzsDExMD0n4HpH4z8h8HGFPzFwPThK1NoNwCtVhWvCA2FFgAAAABJRU5ErkJggg==");
  *background-image: expression('url("mhtml:' + document.location.protocol + '//' + document.location.host + '/static/sproutcore/ace/en/current/__sc_chance_mhtml.txt?1311210814!__s41_16' + '")');
}
/* line 49, ../src/partials/_button.scss */
#top-toolbar #help-button:active .right {
  background-position: 0px 0px;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 3px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAYCAQAAACVMI9sAAAAc0lEQVR4nGOKWOEp/Z+BST9c5XKgFpM2g7qgUjeTLIMcg7gzEyeDAAM/OxMTAwsDBwPTf4b/DIwgigHIYPrH8B9CgSCY+g9RgiEI52HVAKb+AimG30y/GX4y8Nxj+srw5YfRIqY/t7xmGMxlCmqVaGB4CQBP+DqbwhbMewAAAABJRU5ErkJggg==");
  *background-image: expression('url("mhtml:' + document.location.protocol + '//' + document.location.host + '/static/sproutcore/ace/en/current/__sc_chance_mhtml.txt?1311210814!__s41_17' + '")');
}
/* line 62, ../src/partials/_button.scss */
#top-toolbar #help-button .left {
  background-position: 0px 0px;
  background-repeat: no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 3px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAYCAQAAACVMI9sAAAAZElEQVR4nGPaxLBJeuMKJgb1f5flw5mYulUE5RmY/rlIMDAwMP3lZGT4z8DEAAYw6j/Df4jgPyCEUf9RKLgcWCV+QTCP5ec/ECXw4D2IUlv04scrBibpuU4z/t5i2viSv8GhFQCWUDZMrKdSJwAAAABJRU5ErkJggg==");
}
/* line 72, ../src/partials/_button.scss */
#top-toolbar #help-button .middle {
  background-position: 0px 0px;
  background-repeat: repeat-x;
  position: absolute;
  left: 3px;
  top: 0px;
  right: 3px;
  bottom: 0px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAYCAQAAACRxV9RAAAAKklEQVR4nGPa8ITJUpqJjYGJgYHpP5iEMP6hov+ojP8w9IuB6d5XJv9uAIJ2FK/beYvTAAAAAElFTkSuQmCC");
}
/* line 83, ../src/partials/_button.scss */
#top-toolbar #help-button .right {
  background-position: 0px 0px;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 3px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAYCAQAAACVMI9sAAAAZ0lEQVR4nGPauGKT9H8GJvnwf5c3azHJM6gKMnUzMTCIM/xzZvrPwMjwlx3IAwEY9Z8BBJn+MfwD8ZCo/ygUVCUDfkEo7z+Qx/wbSL1nELzH9IrhxQ+1RUx/bznNkJ7L5NDK38DwEgBOEjabenxcDAAAAABJRU5ErkJggg==");
}
/* line 94, ../src/partials/_button.scss */
#top-toolbar #help-button label {
  height: 24px;
  padding-top: 2px;
  position: relative;
  display: block;
  line-height: 21px;
  text-align: right;
  margin-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
}

/* line 38, ../src/views/_toolbar.scss */
#footer {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 36px;
  background-position: 0px 0px;
  background-repeat: repeat-x;
  color: #555;
  border-bottom: 1px solid #999;
  z-index: 10;
  text-shadow: white 0px 1px 1px;
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAsCAAAAACBTI29AAAAGklEQVR4nGN6x8TA9B+OUUlUFjoPXQ2CBGIAcuYgKD9pJ2MAAAAASUVORK5CYII=");
}
/* line 52, ../src/views/_toolbar.scss */
#footer #copyright {
  position: absolute;
  margin-top: -9px;
  right: 10px;
  width: 132px;
  top: 50%;
  height: 18px;
  text-align: center;
}
