
$theme: '';/*
  These built-in images/icons are available for use in your own application free of charge.  Just pass one of these CSS classnames as an image.
*/

/* @group 48-Pixel images/icons */

.sc-icon-alert-48 {
	width: 48px;
	height: 48px;
	@extend .__s18_0;
-chance-offset: "resources/images/icons/sc-icon-alert-48_0_0___0_0" 0 0;background-repeat: no-repeat;
}

.sc-icon-info-48 {
	width: 48px;
	height: 48px;
	@extend .__s18_1;
-chance-offset: "resources/images/icons/sc-icon-info-48_0_0___0_0" 0 0;background-repeat: no-repeat;
}

.sc-icon-error-48 {
	width: 48px;
	height: 48px;
	@extend .__s18_2;
-chance-offset: "resources/images/icons/sc-icon-error-48_0_0___0_0" 0 0;background-repeat: no-repeat;
}






.sc-icon-tools-24 {
	width: 24px;
	height: 24px;
	@extend .__s18_3;
-chance-offset: "resources/images/icons/sc-icon-tools-24_0_0___0_0" 0 0;background-repeat: no-repeat;
}

.sc-icon-bookmark-24 {
	width: 24px;
	height: 24px;
	@extend .__s18_4;
-chance-offset: "resources/images/icons/sc-icon-bookmark-24_0_0___0_0" 0 0;background-repeat: no-repeat;
}

.sc-icon-info-24 {
	width: 24px;
	height: 24px;
	@extend .__s18_5;
-chance-offset: "resources/images/icons/sc-icon-info-24_0_0___0_0" 0 0;background-repeat: no-repeat;
}

.sc-icon-help-24 {
	width: 24px;
	height: 24px;
	@extend .__s18_6;
-chance-offset: "resources/images/icons/sc-icon-help-24_0_0___0_0" 0 0;background-repeat: no-repeat;
}

.sc-icon-alert-24 {
	width: 24px;
	height: 24px;
	@extend .__s18_7;
-chance-offset: "resources/images/icons/sc-icon-alert-24_0_0___0_0" 0 0;background-repeat: no-repeat;
}

.sc-icon-left-24 {
	width: 24px;
	height: 24px;
	@extend .__s18_8;
-chance-offset: "resources/images/icons/sc-icon-left-24_0_0___0_0" 0 0;background-repeat: no-repeat;
}

.sc-icon-right-24 {
	width: 24px;
	height: 24px;
	@extend .__s18_9;
-chance-offset: "resources/images/icons/sc-icon-right-24_0_0___0_0" 0 0;background-repeat: no-repeat;
}

.sc-icon-up-24 {
	width: 24px;
	height: 24px;
	@extend .__s18_10;
-chance-offset: "resources/images/icons/sc-icon-up-24_0_0___0_0" 0 0;background-repeat: no-repeat;
}

.sc-icon-down-24 {
	width: 24px;
	height: 24px;
	@extend .__s18_11;
-chance-offset: "resources/images/icons/sc-icon-down-24_0_0___0_0" 0 0;background-repeat: no-repeat;
}

.sc-icon-undo-24 {
	width: 24px;
	height: 24px;
	@extend .__s18_12;
-chance-offset: "resources/images/icons/sc-icon-undo-24_0_0___0_0" 0 0;background-repeat: no-repeat;
}

.sc-icon-redo-24 {
	width: 24px;
	height: 24px;
	@extend .__s18_13;
-chance-offset: "resources/images/icons/sc-icon-redo-24_0_0___0_0" 0 0;background-repeat: no-repeat;
}

.sc-icon-group-24 {
	width: 24px;
	height: 24px;
	@extend .__s18_14;
-chance-offset: "resources/images/icons/sc-icon-group-24_0_0___0_0" 0 0;background-repeat: no-repeat;
}

.sc-icon-user-24 {
	width: 24px;
	height: 24px;
	@extend .__s18_15;
-chance-offset: "resources/images/icons/sc-icon-user-24_0_0___0_0" 0 0;background-repeat: no-repeat;
}

.sc-icon-cancel-24 {
	width: 24px;
	height: 24px;
	@extend .__s18_16;
-chance-offset: "resources/images/icons/sc-icon-cancel-24_0_0___0_0" 0 0;background-repeat: no-repeat;
}

.sc-icon-options-24 {
	width: 24px;
	height: 24px;
	@extend .__s18_17;
-chance-offset: "resources/images/icons/sc-icon-options-24_0_0___0_0" 0 0;background-repeat: no-repeat;
}

.sc-icon-folder-24 {
	width: 24px;
	height: 24px;
	@extend .__s18_18;
-chance-offset: "resources/images/icons/sc-icon-folder-24_0_0___0_0" 0 0;background-repeat: no-repeat;
}

.sc-icon-trash-24 {
	width: 24px;
	height: 24px;
	@extend .__s18_19;
-chance-offset: "resources/images/icons/sc-icon-trash-24_0_0___0_0" 0 0;background-repeat: no-repeat;
}

.sc-icon-document-24 {
	width: 24px;
	height: 24px;
	@extend .__s18_20;
-chance-offset: "resources/images/icons/sc-icon-document-24_0_0___0_0" 0 0;background-repeat: no-repeat;
}

.sc-icon-favorite-24 {
	width: 24px;
	height: 24px;
	@extend .__s18_21;
-chance-offset: "resources/images/icons/sc-icon-favorite-24_0_0___0_0" 0 0;background-repeat: no-repeat;
}





.sc-icon-bookmark-16 {
	width: 16px;
	height: 16px;
	@extend .__s18_22;
-chance-offset: "resources/images/icons/sc-icon-bookmark-16_0_0___0_0" 0 0;background-repeat: no-repeat;
}

.sc-icon-info-16 {
	width: 16px;
	height: 16px;
	@extend .__s18_23;
-chance-offset: "resources/images/icons/sc-icon-info-16_0_0___0_0" 0 0;background-repeat: no-repeat;
}

.sc-icon-help-16 {
	width: 16px;
	height: 16px;
	@extend .__s18_24;
-chance-offset: "resources/images/icons/sc-icon-help-16_0_0___0_0" 0 0;background-repeat: no-repeat;
}

.sc-icon-alert-16 {
	width: 16px;
	height: 16px;
	@extend .__s18_25;
-chance-offset: "resources/images/icons/sc-icon-alert-16_0_0___0_0" 0 0;background-repeat: no-repeat;
}

.sc-icon-group-16 {
	width: 16px;
	height: 16px;
	@extend .__s18_26;
-chance-offset: "resources/images/icons/sc-icon-group-16_0_0___0_0" 0 0;background-repeat: no-repeat;
}

.sc-icon-user-16 {
	width: 16px;
	height: 16px;
	@extend .__s18_27;
-chance-offset: "resources/images/icons/sc-icon-user-16_0_0___0_0" 0 0;background-repeat: no-repeat;
}

.sc-icon-options-16 {
	width: 16px;
	height: 16px;
	@extend .__s18_28;
-chance-offset: "resources/images/icons/sc-icon-options-16_0_0___0_0" 0 0;background-repeat: no-repeat;
}

.sc-icon-folder-16 {
	width: 16px;
	height: 16px;
	@extend .__s18_29;
-chance-offset: "resources/images/icons/sc-icon-folder-16_0_0___0_0" 0 0;background-repeat: no-repeat;
}

.sc-icon-trash-16 {
	width: 16px;
	height: 16px;
	@extend .__s18_30;
-chance-offset: "resources/images/icons/sc-icon-trash-16_0_0___0_0" 0 0;background-repeat: no-repeat;
}

.sc-icon-document-16 {
	width: 16px;
	height: 16px;
	@extend .__s18_31;
-chance-offset: "resources/images/icons/sc-icon-document-16_0_0___0_0" 0 0;background-repeat: no-repeat;
}

.sc-icon-favorite-16 {
	width: 16px;
	height: 16px;
	@extend .__s18_32;
-chance-offset: "resources/images/icons/sc-icon-favorite-16_0_0___0_0" 0 0;background-repeat: no-repeat;
}


